body{
    background-color: bisque;
}


h1{
    font-family: 'Oswald', sans-serif;
}

p{
    font-family: 'Raleway', sans-serif;

}
ol{
    list-style: none;
    
}
ol li{
    background: #ffe5e5;
    padding: 5px;
    font-family: 'Railway', sans-serif;
    font-weight: 500;

}
a{
    font-family: 'Raleway', sans-serif;
    font-weight:500 ;
}

form{
    position: relative;
    left: 60px;

}

#btn{
    position: relative;
    left:60px;
    top: 40px;
}