body{
    background-color: #cfcfcd;
}

nav{
    
}
h1{
    font-family: 'Oswald', sans-serif;
}

p{
    font-family: 'Raleway', sans-serif;

}
ol{
    list-style: none;
    
}
ol li{
    padding: 5px;
    font-family: 'Railway', sans-serif;
    font-weight: 500;
    

}
a{
    color:#7a3b69 ;
    font-family: 'Raleway', sans-serif;
    font-weight:500 ;
}

#contact{
    background:#d7dedc ;
}
form{
    position: relative;
    left: 60px;

}

#btn{
    position: relative;
    left:60px;
    top: 40px;
}